<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="header"> 
    <div>
        <button mat-button [matMenuTriggerFor]="MenuFunctions">Menu</button>
        <mat-menu #MenuFunctions="matMenu">
            <button mat-menu-item (click)="gotoCustomerDetails()">Customer Details</button>
            <button mat-menu-item (click)="gotoPendingRequest()">Pending Request</button>
        </mat-menu>
    </div>  
    <div>
        <button mat-button [matMenuTriggerFor]="ReportsAndDashBoards">ReportsAndDashBoards</button>
        <mat-menu #ReportsAndDashBoards="matMenu">
            <button mat-menu-item (click)="gotoCustomerReports()">Customer Reports</button>
            <button mat-menu-item (click)="gotoResourceUtilization()">ResourceUtilization</button>
            <button mat-menu-item (click)="gotoDailyReports()">DailyReports</button>
        </mat-menu>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="linkstab">Links</button>
        <mat-menu #linkstab="matMenu">
            <button mat-menu-item (click)="ExternalApp1()">ExternalApp1</button>
            <button mat-menu-item (click)="ExternalApp2()">ExternalApp2</button>
        </mat-menu>
    </div>
</div>
